.projectstable .element {
    width: 200px;
    height: 200px;
    cursor: default;
    font-size: 12px;
    position: absolute;
    z-index: 0;
    transition: width 0.7s, height 0.7s, z-index 0.7s, font-size 0.7s;
}
.projectstable .element img {
    max-width: 100% !important;
    height: auto;
    display: block;
}
.projectstable .element:hover {
    width: 240px;
    height: 240px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0 ,0, 0.1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.projectstable .element .picture {
    border: 1px solid gray;
}
.projectstable .element .caption {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0 black;
}
.projectsmenu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.projectsmenu button {
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    outline: 1px solid rgba(0, 0 ,0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0 ,0, 0.1);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}
.projectsmenu button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
