<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Archifirm</title>
        <link rel="stylesheet" href="/static/vcard/style.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/vcard/jquery.fullpage.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/vcard/clouds.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/vcard/projectstable.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/vcard/magnific-popup.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body class="index_page">
        <div id="fullpage">
            <div class="section hello" id="section"
                data-anchor="{{ sections_conf.hello.anchor }}"
            >
                <nav>
                    <ul>
                        <li><a href="{{ sections_conf.hello.hash }}">Main</a></li> |
                        <li><a href="{{ sections_conf.we.slides.projects.hash }}">Projects</a></li> |
                        <li><a href="{{ sections_conf.we.slides.about.hash }}">About Us</a></li> |
                        <li><a href="{{ sections_conf.we.slides.contact.hash }}">Contact</a></li>
                    </ul>
                </nav>
                <div class="gradient"></div>
                <div class="white">
                    <h1>Architect</h1>
                </div>
                <div id="cloudsviewport">
                    <div id="cloudsworld"></div>
                </div>
            </div>
            <div class="section we" id="section"
                data-anchor="{{ sections_conf.we.anchor }}"
            >
                <div class="slide" id="slide"
                    data-anchor="{{ sections_conf.we.slides.projects.anchor }}"
                >
                    <div class="projectstable" id="projectstable"></div>
                    <div class="projectsmenu">
                        <button id="projectstable_table">TABLE</button>
                        <button id="projectstable_sphere">SPHERE</button>
                        <button id="projectstable_helix">HELIX</button>
                        <button id="projectstable_grid">GRID</button>
                    </div>
                    <script>
                        window.projects = [
                            {% for project in projects %}
                                {
                                    pictureUrl: "{{ project.main_picture.small_thumb.url }}",
                                    caption: "{{ project.caption }}",
                                    url: "{{ project.get_absolute_url }}",
                                },
                            {% endfor %}
                        ];
                    </script>
                </div>
                <div class="slide" id="slide"
                    data-anchor="{{ sections_conf.we.slides.about.anchor }}"
                >
                    <div class="content">
                        {{ about_us_text }}
                    </div>
                </div>
                <div class="slide" id="slide"
                    data-anchor="{{ sections_conf.we.slides.contact.anchor }}"
                >
                    <div class="content">
                        {{ contact_text }}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/vcard/jquery.min.js" charset="utf-8"></script>
    <script src="/static/vcard/jquery.fullpage.min.js" charset="utf-8"></script>
    <script src="/static/vcard/three.min.js" charset="utf-8"></script>
    <script src="/static/vcard/tween.min.js" charset="utf-8"></script>
    <script src="/static/vcard/TrackballControls.js" charset="utf-8"></script>
    <script src="/static/vcard/CSS3DRenderer.js" charset="utf-8"></script>
    <script src="/static/vcard/jquery.magnific-popup.min.js" charset="utf-8"></script>

    <script src="/static/vcard/clouds.js" charset="utf-8"></script>
    <script src="/static/vcard/projectstable.js" charset="utf-8"></script>
    <script src="/static/vcard/script.js" charset="utf-8"></script>
</html>
