<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/static/vcard/style.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="wrapper">
            <h1 class="logo">Architect</h1>
            <ul class="nav">
                <li><a href="#">Projects</a></li> |
                <li><a href="#">About Us</a></li> |
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div id="viewport" >
        	<div id="world" ></div>
        </div>

    </body>
    <script src="/static/vcard/jquery.min.js"></script>
    <script src="/static/vcard/script.js" charset="utf-8"></script>
</html>
